.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
}

.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgb(230, 227, 227);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #6439ff;
}

.center {
  padding-left: 10px;
}

.center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

.center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.center ul li:hover {
  background-color: #ece8ff;
}

.icon {
  font-size: 18px;
  color: #7451f8;
}

.center ul li span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}
